<% provide(:title, 'Home') %>
<div class="container">
<div class="row">
	<div class="col-md-10 col-md-offset-1">
	<div id="myCarousel" class="carousel slide">
		<div class="carousel-inner">
			<div class="item active">
              <%= image_tag("slide1.png" , alt: "", width: "100%") %>
				<div class="carousel-caption">
					<h4>Current version 1.0.0</h4>
					<p>More improvements will be coming</p>
				</div>
			</div>
			<div class="item">
              		<%= image_tag("slide2.jpg" , alt:"", width: "100%") %>
				<div class="carousel-caption">
					<h4>Learn & share</h4>
					<p>It's this web proposal</p>
				</div>
			</div>
			<div class="item">
				<%= image_tag("slide3.png" , alt: "", width: "100%") %>
				<div class="carousel-caption">
					<h4>What's next</h4>
					<p>So much pending work!</p>
				</div>
			</div>

		</div>
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">
    		<span class="icon-prev"></span>
  		</a>
  		<a class="right carousel-control" href="#myCarousel" data-slide="next">
    		<span class="icon-next"></span>
  		</a>
		</div>

	</div>

 </div>


<br/>
<br/>
<br/>	


<div class="row">
    	<div class="col-md-12">
            <div class="bs-callout bs-callout-info">

                <div class="row">
                         <div class="col-md-2">   
              <%= image_tag("careto.png" , alt: "", width: "120px", class:"img-thumbnail pull-left") %>  
               </div>
                <div class="col-md-10">
            <p>
    		My name is Miguel Ruiz, I'm software engineer; a web design lover ready to learn everything I can. This is my first personal portfolio and my way to get and share knowledge. I'm open to hear any suggestion.
    	   </p>
        </div></div>
</div>  
</div>
 <div class="row">  
    <div class="col-md-12">
    	<div class="col-md-4">
    		<div class="service">
                <i class="service-icon glyphicon glyphicon-phone"></i>
                <h2>Fully Responsive</h2>
    			<div class="desc">
                    <p>I used Bootstrap 3 so you can open it from any device.</p>
    			</div>
    		</div>	
    	</div>
    	<div class="col-md-4">
    		<div class="service">
                <i class="service-icon glyphicon glyphicon-globe"></i>
                    				<h2>HTML5 + CSS3</h2>
    			<div class="desc">
                    <p>Using best web standard </p>
    			</div>
    		</div>	
    	</div>
    	<div class="col-md-4">
    		<div class="service">
                <i class="service-icon glyphicon glyphicon-road"></i>
    			<div class="desc">
    				<h2>Ruby on rails</h2>
                    <p>It's really nice to meet this agile and fast web framework</p>
    			</div>
    		</div>	
    	</div>			    
    </div>
    </div>  
</div>

 </div>