<% provide(:title, 'Snippets') %>
<!DOCTYPE html>
<html>
  <head>
    <title><mruiz> | <%= yield(:title) %></title>
  </head>
  <body>
    <div class="section_title">
    <h1>Snippets</h1>
    </div>
    <section id="snippets" class="section">
      </br> </br>
      <div class="jumbotron">
    <p>
      I'm working on this. Be pacient.
    </p>
          </div>
  </section>
  </body>
</html>