


	<div class="pages paralax page-welcome" id="page-welcome" style="background-position: 0% 0px;">
		<div class="container">
                <div class="row-fluid">
                    <div class="span12 center">
                        <!-- Animated logo -->
                      
                       
                        <div id="welcome-messages">
                        	 <div class="line-divider">
                            <h1>hi, there from Sevilla :)</h1>
                            </div>
                            <p class="subtitle">I'm Miguel Ruiz, Software Engineer and this is just an example of my daily learning work</p>
                            </div>
                      

                            <div class="logo">
                            <div class="scrollNormal">
                                <a href="#page-work">
                                    <img src="assets/images/pages/welcome/logo_welcome.png" width="140" height="140" alt="Treble">
                                </a>
                            </div>
                            <div class="scrollDown">
                                <a href="#page-work">
                                    <img src="assets/images/pages/welcome/logo2_welcome.png" width="140" height="140" alt="Treble">
                                </a>
                            </div> 
                        </div>
                            

                       
                       
                    </div>
                </div>
            </div>
	</div>
