
<% load_css('specific/welcome') %>


<div class="pages paralax page-welcome" id="page-welcome">
		<div class="container">
                <div class="row-fluid">
                    <div class="span12 center">
                        <!-- Animated logo -->
                      
                       
                        <div id="welcome-messages">
                        	 <div class="line-divider">
                            <h1>hi, there from Sevilla :)</h1>
                            </div>
                            <p class="subtitle">I'm Miguel Ruiz, jet another Software Engineer spreading out some examples of my daily learning work</p>


                        <div class="logo">
                            <div class="scrollNormal">
                                <a href="#page-work" alt="Click to enter"> 
                                    <img src="/assets/logo_welcome.png" width="140" height="140" alt="Get in">
                                </a>
                            </div>
                            <div class="scrollDown">


<%= link_to( image_tag("logo2_welcome.png", size:"140" , :alt => "Click to enter") , home_path , :alt => "" )%>

                               
                            </div> 
                        </div>


                            </div>
                      
                       
                       
                    </div>
                </div>
            </div>
	</div>
